/* .wrapper {
    background-image: url('../../images/gravel/gravel.png');
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-content: space-around;
    flex-flow: row;
    margin: 0;
  } */